onboarding-backend/statemachine/onboarding.asl.json
{
  "Comment": "HRMS Employee Onboarding Workflow — Document Collection → IT Provisioning → Policy Sign-off → Manager Intro",
  "StartAt": "DocumentCollection",
  "States": {
    "DocumentCollection": {
      "Type": "Task",
      "Resource": "${StageDocumentCollectionArn}",
      "ResultPath": "$.documentCollection",
      "Next": "CheckDocumentsComplete",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "CheckDocumentsComplete": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.documentCollection.allDocumentsReceived", "BooleanEquals": true, "Next": "ITProvisioning"}],
      "Default": "CheckDocumentReminderLimit"
    },
    "CheckDocumentReminderLimit": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.reminderAttempt", "NumericGreaterThanEquals": 3, "Next": "DocumentsOverdue"}],
      "Default": "SendDocumentReminder"
    },
    "SendDocumentReminder": {
      "Type": "Task",
      "Resource": "${ReminderArn}",
      "Parameters": {
        "stage": "DOCUMENT_COLLECTION",
        "employeeId.$": "$.employeeId",
        "employeeEmail.$": "$.employeeEmail",
        "employeeName.$": "$.employeeName",
        "workflowId.$": "$.workflowId",
        "attempt.$": "$.reminderAttempt"
      },
      "ResultPath": null,
      "Next": "IncrementReminderAttempt",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "IncrementReminderAttempt": {
      "Type": "Pass",
      "Parameters": {
        "employeeId.$": "$.employeeId",
        "workflowId.$": "$.workflowId",
        "employeeName.$": "$.employeeName",
        "employeeEmail.$": "$.employeeEmail",
        "department.$": "$.department",
        "role.$": "$.role",
        "joiningDate.$": "$.joiningDate",
        "reminderAttempt.$": "States.MathAdd($.reminderAttempt, 1)",
        "documentCollection.$": "$.documentCollection",
        "itProvisioning.$": "$.itProvisioning",
        "policySignoff.$": "$.policySignoff"
      },
      "Next": "WaitForDocuments"
    },
    "WaitForDocuments": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "ReCheckDocuments"
    },
    "ReCheckDocuments": {
      "Type": "Task",
      "Resource": "${StageDocumentCollectionArn}",
      "ResultPath": "$.documentCollection",
      "Next": "CheckDocumentsComplete",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "DocumentsOverdue": {
      "Type": "Task",
      "Resource": "${ReminderArn}",
      "Parameters": {
        "stage": "DOCUMENT_COLLECTION_OVERDUE",
        "employeeId.$": "$.employeeId",
        "employeeEmail.$": "$.employeeEmail",
        "employeeName.$": "$.employeeName",
        "workflowId.$": "$.workflowId"
      },
      "ResultPath": "$.overdueResult",
      "Next": "OnboardingFailed"
    },
    "ITProvisioning": {
      "Type": "Task",
      "Resource": "${StageITProvisioningArn}",
      "ResultPath": "$.itProvisioning",
      "Next": "CheckITComplete",
      "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 30, "MaxAttempts": 3, "BackoffRate": 2}],
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "CheckITComplete": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.itProvisioning.cognitoUserCreated", "BooleanEquals": true, "Next": "PolicySignoff"}],
      "Default": "SendITReminder"
    },
    "SendITReminder": {
      "Type": "Task",
      "Resource": "${ReminderArn}",
      "Parameters": {
        "stage": "IT_PROVISIONING",
        "employeeId.$": "$.employeeId",
        "employeeEmail.$": "$.employeeEmail",
        "employeeName.$": "$.employeeName",
        "workflowId.$": "$.workflowId"
      },
      "ResultPath": null,
      "Next": "WaitForITProvisioning"
    },
    "WaitForITProvisioning": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "ITProvisioning"
    },
    "PolicySignoff": {
      "Type": "Task",
      "Resource": "${StagePolicySignoffArn}",
      "ResultPath": "$.policySignoff",
      "Next": "WaitForPolicySignoff",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "WaitForPolicySignoff": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "ReCheckPolicies"
    },
    "ReCheckPolicies": {
      "Type": "Task",
      "Resource": "${StagePolicySignoffArn}",
      "ResultPath": "$.policySignoff",
      "Next": "CheckPolicyComplete",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "CheckPolicyComplete": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.policySignoff.allPoliciesSigned", "BooleanEquals": true, "Next": "ManagerIntro"}],
      "Default": "SendPolicyReminder"
    },
    "SendPolicyReminder": {
      "Type": "Task",
      "Resource": "${ReminderArn}",
      "Parameters": {
        "stage": "POLICY_SIGNOFF",
        "employeeId.$": "$.employeeId",
        "employeeEmail.$": "$.employeeEmail",
        "employeeName.$": "$.employeeName",
        "workflowId.$": "$.workflowId"
      },
      "ResultPath": null,
      "Next": "WaitForPolicySignoff"
    },
    "ManagerIntro": {
      "Type": "Task",
      "Resource": "${StageManagerIntroArn}",
      "ResultPath": "$.managerIntro",
      "Next": "OnboardingComplete",
      "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 60, "MaxAttempts": 2, "BackoffRate": 1.5}],
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "OnboardingFailed", "ResultPath": "$.error"}]
    },
    "OnboardingComplete": {"Type": "Succeed"},
    "OnboardingFailed": {
      "Type": "Fail",
      "Error": "OnboardingFailed",
      "Cause": "One or more onboarding stages failed or timed out"
    }
  }
}
